.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}

.inputs{
	display: inline-block;
	width: 50vw;
	margin-top: 20px;
}

[name=prodid]{
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 6px;
	padding: 10px;
}

[name=categoria]{
	text-transform: lowercase;
}
[name=valor]{
	letter-spacing: 5px;
	font-family: consolas;
}

[name=imagenes]{
  visibility: hidden;
}

.text-5-items{
	font-size: 20px !important;
}

form{
	z-index: 10;

}

.inputs{
	display: flex;
	justify-content: center;
	width: 60%;
}

.inputContainer{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	margin-top: 20px;
	margin-bottom: 20px;
}

.inputDescription{
	width: auto;
	white-space: nowrap;

}


.inputData{
	width: 100%;
	input,textarea{
		width: 100%;
		background-color: #333;
		border: 2px solid rgb(121, 121, 121);
		color: var(--bodyColor);
		font-size: 20px;
		z-index: 10;
		&:disabled{
			opacity: .8;
		}
		/* &:invalid{
			border-color: hsl(0, 61%, 54%);
		} */
		&:valid{
			border-color: hsl(135, 61%, 54%);
		}
	}
	textarea{
		resize: vertical;
		min-height: 150px;
		max-height: 300px;
	}
}


.images-container,.addImageContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.images-grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px 20px;
}

.image-grid-item{
	border: 2px solid var(--color1);
	border-radius: 10px;
	padding: 10px;
	height: 200px;
	width: 200px;
	img{
		margin: 0;
		padding: 0;
		object-fit: contain;
		width: 100%;
		max-height:100%;
	}
}


.addImageContainer{
	margin-top: 50px;
}

.imageUploader{
	input{
	}
}


.deleteImage{
	visibility: hidden;
}

.sendButtonContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
	button{
		padding: 5px;
		font-size: 15px;
		font-weight: 700;
		margin: 20px;
	}
}


.deleteImage{
	background-color: hsl(0, 54%, 54%);
	position: absolute;
	width: 30px;
	height: 30px;
	border:0px;
	border-radius: 50%;
	background-image: url("/images/system-images/delete.svg");
	background-size: 30px;
	background-position: center center;
	background-repeat: no-repeat;
	transition-duration: .2s;
	transform: scale(1);
	:hover{
		background-color: hsl(0, 54%, 60%);
		transform: scale(1.1);
	}
	:active{
		background-color: hsl(0, 54%, 50%);;
		transform: scale(.9);
	}
}



#show-error-container{
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	img{
		width: 30px;
	}
}

.validInput{
	&:invalid{
		border-color: rgb(196, 42, 42);
	}
}
