<div class="products-title">
  <h1>
    Productos disponibles
  </h1>
</div>

<section class="cards-grid-container">
  <ng-container *ngFor="let producto of allProd">
<!-- CARDS -->
    <article class="card-product">
      <div class="card-image" (click)="navigateToProduct(producto.idaleatorio)">
        <img [src]="getImage(producto.imagenes)" alt="imagen de producto" loading="lazy" draggable="false">
      </div>

      <div class="card-title">
        <span>{{producto.titulo}}</span>
      </div>

      <div class="card-price">
        <span>&#x20A1;{{producto.valor}}</span>
      </div>

    </article>

  </ng-container>
</section>

