.formContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

form{
	display: inline-block;
	max-width: 60vw;
}

.inputContainer{
	max-width: 60vw;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-top: 20px;
	input{
		display: inline-block;
		width: 100%;
		margin-left: 20px;
		border: 2px solid rgba(204, 204, 204, 0.5);
	}
	textarea{
		resize: vertical;
		height: 100px;
		min-height: 100px;
		max-height: 200px;
	}
	textarea,input{
		background-color: #333;
		color: var(--bodyColor);
		font-size: 20px;
		z-index: 10;
		&:disabled{
			opacity: .8;
		}
		&:valid{
			border-color: hsl(135, 61%, 54%);
		}}
}

.buttonContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}

#sendData{
	margin-top: 50px;
}