:root{
	--bodyColor:#eee;
	--bodyBg:#333;

	--fontTitleHeader:30px;
	
	--color1:hsl(240, 44%, 58%);
	--color1Hover:hsl(240, 44%, 70%);
	--color1Active:hsl(240, 44%, 50%);
	
	
	/* --color1:hsl(199, 44%, 58%);
	--color1Hover:hsl(199, 44%, 70%);
	--color1Active:hsl(202, 44%, 50%); */
}