

.product-detail-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.price{
  font-weight: 700;
}

.product-description{
  margin-top: 25px;
}

.section-details{
  width: 40%;
}

@media (max-width:700px){

.product-detail-container{
}

.section-details{
  width: 90%;
}

}
