<section id="noCart" *ngIf="cart.products.length==0">
  <img src="assets/bg1.webp" alt="background">
</section>

<section *ngIf="cart.products.length!=0">

<table>
<tbody>

  <tr *ngFor="let item of cart.products">

    <td class="imageContainer">
      <img [src]="getImageURL(item.id)" alt="Image" (click)="gotoProduct(item.id)">
    </td>

      <td class="itemName">
        <span>
          {{getItemName(item.id)}}
        </span>
      </td>

      <td class="itemValue">
        <span>
          &#162;{{item.valor}}
        </span>
      </td>

      <td class="itemHowMany">
        <select [value]="item.cantidad" (input)="setItem(item.id,selectNumber.value)" #selectNumber>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </td>

      <td class="deleteItem">
        <div id="btnDeleteProduct" (click)="deleteProduct(item.id)">
          <span>
            &#x2715;
          </span>
        </div>
      </td>

    </tr>

</tbody>
</table>

<section class="total">
  <span>
    Total:
  </span>
  <span>&#162;{{getTotal()}}</span>
</section>

</section>
