.imageContainer {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.itemName {
  width: 200px;
}

.itemValue {
  width: 80px;
  text-align: center;
}

.itemHowMany {
padding-left: 10px;
padding-right: 10px;
}

.deleteItem {}

#btnDeleteProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  background-color: rgb(194, 30, 30);
  transition-duration: var(--globalTransition);
  transform: scale(1);

  &:hover {
    background-color: rgb(235, 65, 65);
  }

  &:active {
    transform: scale(.92);
    background-color: rgb(173, 12, 12);
  }
}


.total {
  text-align: center;
}


#noCart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 50vw;
    height: auto;
  }
}

.tableCenter {
  display: flex;
  justify-content: center;
  width: 100%;
}

table{
  border: 1px solid rgba(0, 0, 0, 0.103);
  tr{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.219);
  }
}

@media (max-width:700px) {
  #noCart {
    img {
      width: 80vw;
    }
  }
}
