[class^="number-slide"],
[class*=" number-slide"] {
  background: rgba(36, 100, 109, 0.055);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}


/* ********************************* */
/* ********************************* */
/* ********************************* */
/* ********************************* */
/* ********************************* */
/* ********************************* */

img{
  display: inline-block;
  width: 100%;
  object-fit: contain;
  height: 100%;
}
