<header>
  <div class="history-icons-container buttons-container">
    <!--
      &#x276E;<-
      &#x276F;->
     -->
    <div class="header-button"><span>&#x276E;</span></div>
    <div class="header-button"><span>&#x276F;</span></div>
  </div>

  <div class="logo-container">
    <img src="assets/logos.webp" alt="">
  </div>

  <div class="sell-actions-container buttons-container">
    <div class="header-button"><span>i</span></div>
    <div class="header-button"><span>i</span></div>
  </div>



</header>
