<header>
  <div class="history-icons-container buttons-container">
    <!--
      &#x276E;<-
      &#x276F;->
     -->
    <div class="header-button"><span>&#x276E;</span></div>
    <div class="header-button"><span>&#x276F;</span></div>
  </div>

  <a [routerLink]="['/']" class="logo-container">
    <img src="assets/logos.webp" alt="">
  </a>

  <div class="sell-actions-container buttons-container">
    <a class="header-button" [routerLink]="['detalles']">
      <span>De</span>
    </a>
    <a [routerLink]="['nosotros']" class="header-button"><span>i</span></a>
  </div>



</header>
