.tableContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

table{
	border: 2px solid #ccc;
	min-width: 100%;
}

th, td{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 2px solid rgba(204, 204, 204, 0.37);
	border-bottom: 2px solid rgba(204, 204, 204, 0.219);
}

table a{
	color: rgb(23, 187, 228) !important;
	display: inline-block;
	transition-duration: var(--globalTransition);
	&:active{
		transform: scale(.9);
		background-color: rgb(32, 32, 32);
	}
}

table tr{
	transition-duration: var(--globalTransition);
	transform: scale(1);
	&:nth-child(odd){
		background-color: rgb(66, 66, 66);
	}
	&:hover{
		background-color: rgb(67, 96, 107);
	}
}

.moreResultsButton{
	display: flex;
	justify-content: flex-end;
	button{
		margin: 10px;
	}
}

#lastResultsBTN,#moreResultsBTN,#newItem{
	cursor: pointer;
}

button{
	padding:5px 10px;
	background-color: var(--color1);
	color: white;
	border-radius: 10px;
	&:hover{
		background-color: var(--color1Hover);
	}
	&:active{
		background-color: var(--color1Active);
	}
}

.buttonNew{
	margin: 20px;
	display: flex;
	justify-content: flex-end;
}
